


# Ignore logs and temporary files
*.log
*.tmp
*.bak
*.swp


# Ignore project-specific files
dist/
.vscode/
.node_modules/
.csv
package-lock.json
# Ignore IDE-specific files
.idea/
# Ignore environment files
.env
# Ignore coverage reports
.coverage
